workflows/Render_team_leaderboard.json
{
  "name": "Render_team_leaderboard",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================\n// TEAM GROUPING & DATA PREPARATION\n// ============================================\n\nfunction toNum(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  if (!s) return null;\n  const n = Number(s.replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\nconst TEAM_CAPTAIN_FALLBACK = {\n  \"Đội Báo Săn\": \"3633624730889700356\",\n  \"Đội Cánh Gió\": \"2405161230734177\",\n  \"Đội Sóng Dũng\": \"2405161230734177\",\n  // Add more teams as needed\n};\nconst DEFAULT_CAPTAIN_ID = \"2405161230734177\";\n\nconst items = $input.all();\nconst teamMap = new Map();\n\nitems.forEach(item => {\n  const j = item.json;\n\n  const name = j.player_name ?? j[\"Người chơi\"] ?? \"\";\n  const team = j.team ?? j[\"Đội\"] ?? \"\";\n  const avatar_url = j.avatar_url ?? j.avatar ?? j[\"avatar\"] ?? \"https://via.placeholder.com/85?text=?\";\n\n  // Check if this person is captain\n  const is_captain = j.is_captain ?? j[\"is_captain\"] ?? j[\"Đội trưởng\"] ?? false;\n  const captain_note = j.captain_note ?? j[\"Ghi chú đội trưởng\"] ?? \"\";\n\n  // Captain ID with fallback\n  let zaloID_captain = j.zaloID_captain ?? j[\"zaloID_captain\"] ?? null;\n  if (zaloID_captain === \"\") zaloID_captain = null;\n  if (!zaloID_captain) {\n    zaloID_captain = TEAM_CAPTAIN_FALLBACK[team] ?? DEFAULT_CAPTAIN_ID;\n  }\n\n  const round_name = j[\"Vòng\"] ?? j.round_name ?? \"Marathon\";\n  const time_range_raw = j[\"Thời Gian\"] ?? j.time ?? j.time_range ?? \"\";\n  const time_range = typeof time_range_raw === \"string\" ? time_range_raw : \"\";\n\n  // Extract weights Day 0-10\n  const weights = [];\n  for (let d = 0; d <= 10; d++) {\n    const key1 = `day${d}`;\n    const key2 = `Day ${d}`;\n    const val = (j[key1] !== undefined) ? j[key1] : j[key2];\n    weights.push(toNum(val));\n  }\n\n  // Initialize team if not exists\n  if (!teamMap.has(team)) {\n    teamMap.set(team, {\n      team_name: team,\n      captain_id: zaloID_captain,\n      round_name,\n      time_range,\n      players: [],\n      captain: null // Store captain separately\n    });\n  }\n\n  // Add player or captain to team\n  if (is_captain === true || is_captain === \"true\" || is_captain === 1) {\n    // This is the captain\n    teamMap.get(team).captain = {\n      name,\n      avatar: avatar_url,\n      captain_note: captain_note || \"Chúc mừng các chiến sĩ!\",\n      role: \"captain\",\n      is_captain: true\n    };\n  } else {\n    // Regular player\n    teamMap.get(team).players.push({\n      name,\n      avatar: avatar_url,\n      weights\n    });\n  }\n});\n\n// Convert to array\nreturn Array.from(teamMap.values()).map(team => ({ json: team }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        512
      ],
      "id": "6e90dfcb-24c0-4679-9299-9fcdc3b350b0",
      "name": "Group By Team"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// RANK PLAYERS & PREPARE RENDER DATA\n// ============================================\n\nfunction toNum(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  if (!s) return null;\n  const n = Number(s.replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\n// Get current day (default to 1 if not provided)\nconst currentDay = $json.day ?? 1;\n\nfunction calculateDailyLoss(weights, day) {\n  const today = weights[day];\n  if (today === null) return null;\n\n  // Scan backwards for previous non-null weight\n  for (let i = day - 1; i >= 0; i--) {\n    if (weights[i] !== null) {\n      return weights[i] - today; // Positive = weight loss\n    }\n  }\n  return null; // No previous data\n}\n\nfunction calculateTotalLoss(weights, day) {\n  const start = weights[0];\n  const current = weights[day];\n  if (start === null || current === null) return null;\n  return start - current; // Positive = weight loss\n}\n\nconst teamData = $json;\n\n// Calculate losses for each player\nconst rankedPlayers = teamData.players.map(p => {\n  const daily_loss = calculateDailyLoss(p.weights, currentDay);\n  const total_loss = calculateTotalLoss(p.weights, currentDay);\n\n  return {\n    name: p.name,\n    avatar: p.avatar,\n    daily_loss,\n    total_loss\n  };\n});\n\n// Sort by daily_loss DESC (higher loss = better rank)\nrankedPlayers.sort((a, b) => {\n  if (a.daily_loss === null) return 1;\n  if (b.daily_loss === null) return -1;\n  if (b.daily_loss !== a.daily_loss) {\n    return b.daily_loss - a.daily_loss;\n  }\n  // Tie-breaker: alphabetical\n  return a.name.localeCompare(b.name, 'vi');\n});\n\n// Take top 8\nconst top8 = rankedPlayers.slice(0, 8);\n\n// Add rank number and format scores\ntop8.forEach((p, i) => {\n  p.rank = (i + 1).toString();\n  p.daily_loss = p.daily_loss !== null ? p.daily_loss.toFixed(1) : \"--\";\n  p.total_loss = p.total_loss !== null ? p.total_loss.toFixed(1) : \"--\";\n});\n\n// Count team stars (players with daily_loss >= 1.0)\nconst team_stars = top8.filter(p => {\n  const loss = parseFloat(p.daily_loss);\n  return !isNaN(loss) && loss >= 1.0;\n}).length;\n\n// Prepare final players array\nconst finalPlayers = [...top8];\n\n// Add captain at the END if exists\nif (teamData.captain) {\n  finalPlayers.push(teamData.captain);\n}\n\nreturn {\n  json: {\n    team_name: teamData.team_name,\n    captain_id: teamData.captain_id,\n    lap_number: currentDay.toString(),\n    team_stars: team_stars.toString(),\n    players: finalPlayers,\n    text_report: `🏆 BẢNG XẾP HẠNG ĐỘI\\n👥 ${teamData.team_name}\\nChặng ${currentDay}\\n-------------------\\n💡 Đang tạo ảnh xếp hạng...`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        512
      ],
      "id": "225c2624-758b-480b-805b-2efb8d42de41",
      "name": "Rank Players (Top 8)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://render.nexme.vn/render",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "goPT@marathon10000TV"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"template\": \"team_leaderboard.hbs\",\n  \"filename_prefix\": \"team_leader\",\n  \"data\": {\n    \"team_name\": $json.team_name,\n    \"round_number\": $json.round_number,\n    \"lap_number\": $json.lap_number,\n    \"day_number\": $json.day_number,\n    \"team_today_loss_kg\": $json.team_today_loss_kg,\n    \"players\": $json.players\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        512
      ],
      "id": "d64a8b1e-1097-4de8-afa5-b09eda570f59",
      "name": "Render Team Leaderboard",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "bot_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_type",
              "fieldValue": "TEAM_LEADER"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ {\n  \"recipient\": {\n    \"id\": $('Rank Players (Top 8)').item.json.captain_id\n  },\n  \"message\": {\n    \"text\": $('Rank Players (Top 8)').item.json.text_report,\n    \"attachment\": {\n      \"type\": \"image\",\n      \"payload\": {\n        \"url\": $json.image_url || $json.url\n      }\n    }\n  }\n} }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        384
      ],
      "id": "0182d68b-9578-4942-803d-122d6c3ab0b9",
      "name": "Queue: Team Success",
      "credentials": {
        "supabaseApi": {
          "id": "vEyQn3WuVDmUMZO6",
          "name": "Supabase marathon"
        }
      }
    },
    {
      "parameters": {
        "tableId": "bot_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_type",
              "fieldValue": "TEAM_LEADER"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ {\n  \"recipient\": {\n    \"id\": $('Rank Players (Top 8)').item.json.captain_id\n  },\n  \"message\": {\n    \"text\": $('Rank Players (Top 8)').item.json.text_report + \"\\n\\n(⚠️ Ảnh bảng xếp hạng đang được bảo trì, bạn xem tạm số liệu ở trên nhé!)\"\n  }\n} }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        640
      ],
      "id": "a1918cb1-4d44-4758-be6e-507e880f79ba",
      "name": "Queue: Team Fallback",
      "credentials": {
        "supabaseApi": {
          "id": "vEyQn3WuVDmUMZO6",
          "name": "Supabase marathon"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Z9nU5cQwEDeSKAn-Ba5HFpHUhQQyOoSxukaO7mG5DV4",
          "mode": "list",
          "cachedResultName": "marathon",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z9nU5cQwEDeSKAn-Ba5HFpHUhQQyOoSxukaO7mG5DV4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345514191,
          "mode": "list",
          "cachedResultName": "marathon",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z9nU5cQwEDeSKAn-Ba5HFpHUhQQyOoSxukaO7mG5DV4/edit#gid=345514191"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        512
      ],
      "id": "9c15a04e-db3f-4487-b058-2dcaa62b3353",
      "name": "Get Marathon Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Si9LuVmzbdJQ3PJB",
          "name": "Google Sheets dqcong"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "team-render-success-condition",
              "leftValue": "={{ $json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        512
      ],
      "id": "1f9ae408-e02c-4bb8-8002-220260427773",
      "name": "Check: Render Success?1"
    }
  ],
  "pinData": {},
  "connections": {
    "Group By Team": {
      "main": [
        [
          {
            "node": "Rank Players (Top 8)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Players (Top 8)": {
      "main": [
        [
          {
            "node": "Render Team Leaderboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Team Leaderboard": {
      "main": [
        [
          {
            "node": "Check: Render Success?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Marathon Data1": {
      "main": [
        [
          {
            "node": "Group By Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Render Success?1": {
      "main": [
        [
          {
            "node": "Queue: Team Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue: Team Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "aa69719e-e6e1-4736-a6af-f37d3f1e9b77",
  "meta": {
    "instanceId": "bbf85f6bf60f4f428f9bb800a84af65104d12b54938b900d8e31b5ec5fa02d99"
  },
  "id": "9fD7jTNV9LbMYGJu",
  "tags": []
}